<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.books.mapper.ContributeMapper">


    <insert id="submit" parameterType="com.books.entity.Contribute" useGeneratedKeys="true" keyProperty="id">
        insert into contribute (title, brief_introduction, url, summary, user_id, picture, create_time, update_time)
        values (#{title}, #{briefIntroduction}, #{url}, #{summary}, #{userId}, #{picture}, #{createTime},
                #{updateTime});
    </insert>

    <delete id="deleteById" parameterType="com.books.entity.Contribute">
        delete
        from contribute
        where id = #{id}
    </delete>
    <select id="pageQuery" parameterType="com.books.dto.ContributePageRequestDTO" resultType="com.books.entity.Contribute">
        select *
        from contribute
        <where>
            <if test="title != null">title like concat('%', #{title}, '%')</if>
            <if test="reviewResult != null">
                id in (select contribute_id
                from approved_contribute
                where review_result = #{reviewResult})
            </if>
            <if test="recommended != null">id in (select contribute_id from recommend)</if>
            <if test="userId != null">id = #{userId}</if>
        </where>
        order by id desc
    </select>


    <update id="update" parameterType="com.books.entity.Contribute">
        UPDATE contribute
        <set>
            <if test="title != null">title = #{title},</if>
            <if test="briefIntroduction != null">brief_introduction = #{briefIntroduction},</if>
            <if test="url != null">url = #{url},</if>
            <if test="summary != null">summary = #{summary},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="picture != null">picture = #{picture},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </set>
        WHERE id = #{id}
    </update>

    <select id="getById" resultType="com.books.entity.Contribute">
        select *
        from contribute
        where id = #{id}
    </select>
</mapper>